@import "../../Variables.scss";

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust min-width as needed */
    margin-inline: 8px;
    




    @media (max-width: 840px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min-width for medium screens */
        gap: 5px;
    }

    @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust min-width for small screens */
    }
}
