@import '../../Variables';

// Variables for breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1200px;

.swiper {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  max-height: 1200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  color: black;
  opacity: 35%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
  opacity: 75%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  position: absolute;
  font-size: 1rem;
  color: lightgray;
  left: 46%;
}

@media (max-width: $breakpoint-xl) {
  .swiper {
    height: 80vh; /* Adjusted height */
  }

  .swiper-slide img {
    width: 100vw; /* Ensure each image takes full width */
    height: 100%; /* Ensure image height scales accordingly */
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px; /* Adjusted size for buttons */
  }
}

  @media (max-width: $breakpoint-lg) {
    .swiper {
      height: 60vh;
      width: 100%;
    }

    .swiper-slide img { 
      object-fit: cover;
    }
  }

  @media (max-width: $breakpoint-md) {
    .swiper {
      height: 100%;
      width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 30px; /* Adjusted size for buttons */
    }

    .swiper-pagination {
      position: absolute;
      font-size: 0.5rem;
      color: lightgray;
      left: 46%;
      bottom: 12%;
    }
  }

