@import '../../Variables';

.product {
  display: flex;
  gap: 32px;

  button {
    font-family: var(--header-font);
    font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
    cursor: pointer;
  }

  .link {
    text-decoration: underline;
  }

  .left {
    display: flex;
    flex: 2;
    height: 100vh;
    overflow: hidden;

    .images {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-evenly;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .mainImg {
      flex: 3;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .right {
    padding-top: 16px;
    margin-right: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .product-detail {
      font-family: var(--header-font);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
    }

    span {
      font-family: var(--header-font);
    }

    h1 {
      margin: 0;
      padding: 0;
      font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
      margin-bottom: -4px;
    }

    p {
      padding-bottom: 12px;
      font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
    }

    .prices {
      display: flex;
      gap: 12px;
      align-items: center;

      .price {
        font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
      }

      .oldPrice {
        font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
        color: gray;
        text-decoration: line-through;
        font-family: var(--body-font);
      }
    }

    .size {
      display: flex;
      flex-direction: column;
      padding: 12px 0;
      gap: 12px;

      p {
        padding: 0;
      }

      .size-select {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        button {
          background-color: transparent;
          border: 1px solid lightgray;
          border-radius: 2px;
          width: 50px;
          height: 50px;
        }

        .selected {
          background-color: black;
          color: white;
        }
      }
    }

    .quantity {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-bottom: 24px;

      .error-message {
        color: red;
        margin-bottom: 10px;
      }

      .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: black;
        color: whitesmoke;
        text-transform: uppercase;
        gap: 12px;
        padding: 12px 0;

        &:hover {
          background-color: black;
          opacity: 75%;
        }
      }

      .link {
        display: flex;
        justify-content: left;
        width: 100%;
        gap: 12px;

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
        }
      }
    }

    .accordion-wrapper {
      font-family: var(--header-font);
      padding: 0;
      margin: 0;

      .accordion {
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border-top: 1px solid lightgray;
        border-left: none;
        border-right: none;
        border-bottom: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        text-transform: capitalize;
      }

      .active,
      .accordion:hover {
        background-color: #e5e5e5;
        box-shadow: none;
      }

      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: '\2212';
      }

      .panel {
        padding: 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }
  }
}


@media (max-width: 998px) {
  .product {
    flex-direction: column;
    height: 100%;
    margin-bottom: 32px;
    gap: 12px;

    .left,
    .right {
      height: fit-content;
    }

    .left {
      flex-direction: row;
      max-height: fit-content; 

      .images {
        flex:none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 20%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .mainImg {
        width: 100%;
        height: 100%;
        object-position: center top;
        
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .right {
      padding-top: 16px;
      margin-inline: 32px;
    }
  }
}


@media (max-width: 500px) {
  .product {
    flex-direction: column;
    height: 100%;
    margin-bottom: 32px;
    gap: 12px;

    .left,
    .right {
      flex: 1;
      height: fit-content;
    }

    .left {
      flex-direction: column-reverse;
      height: 100svh;

      .images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
        width: 100%;

        img {
          height: 50%;
          width: 25%;
        }
      }

      .mainImg {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .right {
      padding-top: 16px;
      margin-inline: 16px;
    }
  }
}

@media (max-width: 360px) {
  
  .link {
    flex-direction: column;
  }
}